In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('data/patches-filtered.csv', index_col=['id', 'name'])
data.head()

                 plugin1  plugin2  plugin3  plugin4  plugin5  plugin6
id   name
5299 plexi*dly*     74.0    102.0     55.0    107.0    107.0    107.0
5300 HB*Boston3     31.0    102.0     33.0    107.0    107.0    107.0
5301 _Clean****     24.0     31.0     28.0    107.0    107.0    107.0
5303 _2tone****     72.0     57.0     96.0    107.0    107.0    107.0
5304 Numb______     81.0     57.0    100.0    107.0    107.0    107.0

In [3]:
categories = pd.read_csv('https://raw.githubusercontent.com/SrMouraSilva/RBM/evaluates/experiments/data/plugins_categories_simplified.csv', index_col=['id'])
categories.head()

         name  category
id
23       Comp  Dynamics
24   RackComp  Dynamics
25     M Comp  Dynamics
26  SlowATTCK  Dynamics
27        ZNR  Dynamics

In [4]:
categories_sorted = categories.sort_values(['category', 'name'])
categories_sorted['new_id'] = range(117)

del categories_sorted['category']
del categories_sorted['name']

categories_sorted.head()

     new_id
id
112       0
109       1
95        2
100       3
110       4

In [5]:
data_copy = data.copy()

for i in range(6):
    data_copy = data_copy.join(categories_sorted, on=f'plugin{i+1}', how='inner')
    del data_copy[f'plugin{i+1}']
    data_copy = data_copy.rename(columns={'new_id': f'plugin{i+1}'})

data_copy.head()

                 plugin1  plugin2  plugin3  plugin4  plugin5  plugin6
id   name
5299 plexi*dly*      108       18       39       86       86       86
7083 Rockabilly       75       10       39       86       86       86
5358 DearPruden       10       67       39       86       86       86
7083 NiceMiddle      108       18       43       86       86       86
5481 HB*eVh****       69       11       43       86       86       86

In [6]:
data_copy.to_csv('/tmp/change_index.csv')

In [8]:
categories_sorted = categories.sort_values(['category', 'name'])
del categories_sorted['name']

data_copy = data.copy()

for i in range(6):
    data_copy = data_copy.join(categories_sorted, on=f'plugin{i+1}', how='inner')
    del data_copy[f'plugin{i+1}']
    data_copy = data_copy.rename(columns={'category': f'plugin{i+1}'})

data_copy.head()

                    plugin1     plugin2 plugin3 plugin4 plugin5 plugin6
id   name
5299 plexi*dly*       Stomp         Amp   Delay    None    None    None
7083 Rockabilly  Modulation         Amp   Delay    None    None    None
5358 DearPruden         Amp  Modulation   Delay    None    None    None
7083 NiceMiddle       Stomp         Amp   Delay    None    None    None
5481 HB*eVh****  Modulation         Amp   Delay    None    None    None

In [9]:
data_copy.to_csv('/tmp/category.csv')